MNEMONIC="display basic vicious"
PRIVATE_KEY=""
INFURA_API_KEY=""
INFURA_API_SECRET=""
ALCHEMY_API_KEY=""
ETHERSCAN_API_KEY=""
POLYGONSCAN_API_KEY=""
ETH_SEPOLIA_URL="https://eth-sepolia.g.alchemy.com/v2/-Dgaq_hDia5"    
ETH_MUMBAI_URL="https://polygon-mumbai.g.alchemy.com/v2/-fRw8J2f"  
TRELLOR_ORACLE=""
MY_ERC20_ACCOUNT=""
BALLOT_CONTRACT_ADDRESS=""
TOKEN_CONTRACT_ADDRESS=""